@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My MVC Project</h1>
    <p class="lead">My MVC application includes three entities, Volunteers, Events and Assignment which can assign volunteers to events without time conflict.</p>

</div>